@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-font-color: #e6e6e6ff;
}

html {
  height: 100%;
  width: 100%;
  color: var(--primary-font-color);
  font-family: Barlow, sans-serif;
}

body {
  background: #222339;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #343a53, #222339, #1a1e32);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #343a53, #222339, #1a1e32);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;

}

header {
  border-bottom: 1px solid #49576bff;
  padding: 3.2vh;
}

.container {
  padding-left: 4vh;
  padding-right: 4vh;
}

.section_header {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}

.settings-boxes {
  background-color: rgba(50, 60, 74, 0.4);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 2vh 0 2vh;
  margin-top: 2vh;
  font-weight: 700;
  border-radius: 20px;
  border: 0.2px solid #49576bff;
}

.dock {
  background-color: rgba(50, 60, 74, 0.4);
  border-top: 0.2px solid #49576bff;
  width: 100%;
  position: fixed;
  /* Change to fixed */
  bottom: 0;
  /* Stick to the bottom */
}

.dock ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;

}

.dock ul li {
  width: 100%;
  height: 80px;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

.img-thumbnail {
  height: 8rem;
  border: none;
  background: none;
  border-radius: 15%;
}

.card {
  background: none;
  color: white;
  font-size: 1rem;
  border: none;
  border-bottom: 0.2px solid #657b9aff;
  border-radius: 0;
}


.form-control {
  background-color: rgba(50, 60, 74, 0.4);
  border: 0.2px solid #657b9aff;
  font-size: 4vh;
}


.btn-primary {
  background-color: rgba(50, 60, 74, 1);
  border: 0.2px solid #657b9aff;

}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cell {
  width: 100%;
  padding: 2vh;
  margin-top: 10px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.2rem;
}

.room-pin {
  border-radius: 15px;
  border: none;
  color: grey;
}

button {
  background-color: #657b9aff;
  border: 0.2px solid #657b9aff;
  color: white;
}

button:hover {
  scale: 1.05;
  transition: 0.3s;
}

.create-button {
  background-color: transparent;
  color: #657b9aff;
}


a button:hover {
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}